extends ../layouts/main-layout.pug

block title
  title Главная

block content
  header.header
    .container
      +navigation('Главная', additionClass="navigation__link--active")
      .header__user-block-pos
        .user-block
          a(href="#").user-block__login Вход

  main.index-page
    .container
      .main-logo
        .main-logo__img-wrap
          img(src="/images/borodinski-logo.png", alt="main-logo").main-logo__img
      section.features
        ul.features__list
          li.features__item
            .features__name Быстро
            .features__text МЫ ДЕЛАЕМ СВОЮ РАБОТУ БЫСТРО! ДВА ЧАСА ПРОЛЕТЯТ НЕЗАМЕТНО И ВЫ - СЧАСТЛИВЫЙ ОБЛАДЕТЕЛЬ СТИЛЬНОЙ СТРИЖКИ-МИНУТКИ!
          li.features__item
            .features__name Круто
            .features__text ЗАБУДЬТЕ, КАК ВЫ СТРИГЛИСЬ РАНЬШЕ. МЫ СДЕЛАЕМ ИЗ ВАС ЗВЕЗДУ ФУТБОЛА ИЛИ КИНО! ВО ВСЯКОМ СЛУЧАЕ ВНЕШНЕ.

          li.features__item
            .features__name Дорого
            .features__text НАШИ МАСТЕРА - ПРОФЕССИОНАЛЫ СВОЕГО ДЕЛА И НЕ МОГУТ СТОИТЬ ДЕШЕВО. К ТОМУ ЖЕ, РАЗВЕ ЦЕНА НЕ ДАЕТ ОПРЕДЕЛЕНЫЙ СТАТУС?
      
      .index-content
        .index-content__left
          h2.index-content__title Новости
          .news-preview
            ul.news-preview__list
              li.news-preview__item
                p.news-preview__text НАМ НАКОНЕЦ ЗАВЕЗЛИ ЯГЕРМАЙСТЕР! ТЕПЕРЬ ВЫ МОЖЕТЕ ПРОПУСТИТЬ СТАКАНЧИК ВО ВРЕМЯ СТРИЖКИ
                time(datetime='2016-01-18').news-preview__time 11 Января
              li.news-preview__item
                p.news-preview__text В НАШЕЙ КОМАНДЕ ПОПОЛНЕНИЕ, БОРИС «БРИТВА» СТРИГУНЕЦ, ОБЛАДЕТЕЛЬ МНОЖЕСТВА ТИТУЛОВ И НАГРАД ПОПОЛНИЛ НАШИ 
                time(datetime='2016-01-18').news-preview__time 11 Января
            a(href="#").btn.news-preview__btn Все новости
        .index-content__right
          h2.index-content__title Фотогалерея
          .gallery
            figure.gallery__content
              img(src="/images/gallery-content.jpg", alt="gallery-img" width='286' height='164').gallery__img
            .gallery__controllers
              button.btn.gallery__prev-btn Назад
              button.btn.gallery__next-btn Вперед
            
      .index-content
        .index-content__left.index-content__left--width
          h2.index-content__title Контактная информация
          .contact-info
            p.contect-info__text
              | БАРБЕРШОП «БОРОДИНСКИЙ» 
              br
              | АДРЕС: Г. САНКТ-ПЕТЕРБУРГ, Б. КОНЮШЕННАЯ, Д. 19/8
              br
              | ТЕЛЕФОН: +7 (495) 666-02-66
            p.contect-info__text 
              | ВРЕМЯ РАБОТЫ: 
              br
              | ПН — ПТ: С 10:00 ДО 22:00
              br
              | СБ — ВС: С 10:00 ДО 19:00
            .contact-info__controllers
              a(href="#").btn.contact-info__link Как проехать
              a(href="#").btn.contact-info__feedback Обратная связь
        .index-content__right
          h2.index-content__title Записаться
          .booking
            .booking__text УКАЖИТЕ ЖЕЛАЕМУЮ ДАТУ И ВРЕМЯ И МЫ СВЯЖЕМСЯ С ВАМИ ДЛЯ ПОДТВЕРЖДЕНИЯ БРОНИ
            form.booking__form(action="")
              .booking__input-wrap
                input.input.booking__input(type="text" placeholder='Дата')
                input.input.booking__input(type="text" placeholder='Время')
                input.input.booking__input(type="text" placeholder='Ваше имя')
                input.input.booking__input(type="text" placeholder='Телефон')
              button.btn.booking__btn Отправить