include ../mixins/mixins.pug

doctype html
html(lang="ru-RU")
	include ../common/head.pug
body
	<!-- / ========= header ========= \ -->
	//- include  ../common/header.pug	
	block content
	.modal
		i.modal__close#modal-close
		.modal__title Личный кабинет
		form(action="").modal__form
			label.modal__label Ведите пожалуйста свой логин и пароль
			input.modal__input(type="text" name='login')
			input.modal__input(type="text" name='password')
			.modal__footer
				label.checkbox-group.modal__checkbox-label
					input.checkbox-group__input(type="checkbox" name='')
					span.checkbox-group__indicator
					span.modal__checkbox-text Запомнить меня
				a(href="#").modal__forgot-pass Я забыл пароль!
			input(type="submit" value='Войти').btn.modal__button
	.map
		i.map__close
		iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2303.93799466755!2d55.95330921605977!3d54.72830547800037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43d93a446d2ee27b%3A0x5db465c7ada373f2!2z0YPQuy4g0KbRjtGA0YPQv9GLLCA3Niwg0KPRhNCwLCDQoNC10YHQvy4g0JHQsNGI0LrQvtGA0YLQvtGB0YLQsNC9LCA0NTAwMDA!5e0!3m2!1sru!2sru!4v1554317420828!5m2!1sru!2sru', width='765', height='560', frameborder='0', style='border:0', allowfullscreen='')
	<!-- / ========= footer ========= \ -->
	include ../common/footer.pug
